[Unit]
Description=A rule-based tunnel in Go
After=network.target

[Service]
Type=simple
ExecStart={{ .chezmoi.homeDir }}/.local/state/nix/profile/bin/clash -f {{ .chezmoi.homeDir }}/.config/clash/config.yaml
Restart=always

[Install]
WantedBy=default.target
