[Unit]
Description=A rule-based proxy
After=network.target

[Service]
Type=simple
ExecStart={{ .chezmoi.homeDir }}/.local/state/nix/profile/bin/clash -f {{ .chezmoi.homeDir }}/.config/clash/config.yaml -d {{ .chezmoi.homeDir }}/.local/state/clash
Restart=always

[Install]
WantedBy=default.target
