import atexit
import os
import readline

histfile = os.path.join(os.path.expanduser("~"), ".local/state/python/history")

if readline.get_current_history_length() == 0:
    try:
        readline.read_history_file(histfile)
    except OSError:  # Non existent
        pass

    def write_history():
        try:
            readline.write_history_file(histfile)
        except OSError:
            pass

    atexit.register(write_history)
