{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": false,
  "model": "volcano-engine/deepseek-v4-pro",
  "small_model": "volcano-engine/deepseek-v4-flash",
  "provider": {
    "deepseek": {
      "name": "DeepSeek",
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://api.deepseek.com/v1",
        "apiKey": "{{ get . "deepseek_api_key" | default "" }}"
      },
      "models": {
        "deepseek-v4-flash": {
          "name": "DeepSeek V4 Flash",
          "attachment": false,
          "reasoning": true,
          "temperature": true,
          "tool_call": true,
          "interleaved": {
            "field": "reasoning_content"
          },
          "structured_output": true,
          "limit": {
            "context": 1000000,
            "output": 384000
          },
          "modalities": {
            "input": [
              "text"
            ],
            "output": [
              "text"
            ]
          }
        },
        "deepseek-v4-pro": {
          "name": "DeepSeek V4 Pro",
          "attachment": false,
          "reasoning": true,
          "temperature": true,
          "tool_call": true,
          "interleaved": {
            "field": "reasoning_content"
          },
          "structured_output": true,
          "limit": {
            "context": 1000000,
            "output": 384000
          },
          "modalities": {
            "input": [
              "text"
            ],
            "output": [
              "text"
            ]
          }
        }
      }
    },
    "volcano-engine": {
      "name": "Volcano Engine",
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://ark.cn-beijing.volces.com/api/coding/v3",
        "apiKey": "{{ get . "volcano_engine_api_key" | default "" }}"
      },
      "models": {
        "deepseek-v4-flash": {
          "name": "DeepSeek V4 Flash",
          "attachment": false,
          "reasoning": true,
          "temperature": true,
          "tool_call": true,
          "interleaved": {
            "field": "reasoning_content"
          },
          "structured_output": true,
          "limit": {
            "context": 1000000,
            "output": 384000
          },
          "modalities": {
            "input": [
              "text"
            ],
            "output": [
              "text"
            ]
          }
        },
        "deepseek-v4-pro": {
          "name": "DeepSeek V4 Pro",
          "attachment": false,
          "reasoning": true,
          "temperature": true,
          "tool_call": true,
          "interleaved": {
            "field": "reasoning_content"
          },
          "structured_output": true,
          "limit": {
            "context": 1000000,
            "output": 384000
          },
          "modalities": {
            "input": [
              "text"
            ],
            "output": [
              "text"
            ]
          }
        },
        "glm-5.2": {
          "name": "GLM 5.2",
          "attachment": false,
          "reasoning": true,
          "temperature": true,
          "tool_call": true,
          "interleaved": {
            "field": "reasoning_content"
          },
          "limit": {
            "context": 1000000,
            "output": 128000
          },
          "modalities": {
            "input": [
              "text"
            ],
            "output": [
              "text"
            ]
          }
        },
        "kimi-k2.7-code": {
          "name": "Kimi K2.7 Code",
          "attachment": true,
          "reasoning": true,
          "temperature": false,
          "tool_call": true,
          "interleaved": {
            "field": "reasoning_content"
          },
          "limit": {
            "context": 256000,
            "output": 224000
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "video"
            ],
            "output": [
              "text"
            ]
          }
        }
      }
    }
  },
  "lsp": {}
}
