[Unit]
Description=Temporal Workflow as Code
After=network.target

[Service]
Type=simple
ExecStart={{ .chezmoi.homeDir }}/.nix-profile/bin/temporalite start -n default
Restart=always

[Install]
WantedBy=multi-user.target
