# Options
unsetopt beep

# History
export HISTFILE="${STATE_DIR}/zsh/history"

# Prompt
PROMPT='%n@%m:%1~ %% '
if [ ! -z "$SSH_CLIENT" ]; then
  PROMPT='%F{green}%n@%m%f:%1~ %% '
fi

# Key bindings
bindkey -e

# Default programs
if command -v vim 1>/dev/null 2>&1; then
  export EDITOR="vim"
  export VISUAL="vim"
fi

if command -v delta 1>/dev/null 2>&1; then
  export GIT_PAGER="delta"
fi

# Disable builtin commands
disable -r time

# Aliases
alias ll='ls -alv'
alias la='ls -A'
alias l='ls -CF'
{{- if eq .chezmoi.os "darwin" }}
alias typora="open -a typora"
{{- end }}

if command -v gojq 1>/dev/null 2>&1; then
  alias jq=gojq
fi

if command -v gojq 1>/dev/null 2>&1; then
  alias http=xh
fi

if command -v wget2 1>/dev/null 2>&1; then
  alias wget=wget2
fi

if command -v mitmproxy 1>/dev/null 2>&1; then
  alias mitmproxy="mitmproxy --set confdir=${STATE_DIR}/mitmproxy"
fi

# FPATH
FUNC_DIRS=(
  "/nix/var/nix/profiles/default/share/zsh/site-functions"
  "${NIX_PROFILE_DIR}/share/zsh/site-functions"
  /usr/share/zsh/site-functions
  /opt/homebrew/share/zsh/site-functions
)
for FUNC_DIR in ${FUNC_DIRS[@]}; do
  FPATH="${FUNC_DIR}:${FPATH}"
done

# Completions
autoload -Uz compinit && compinit -d "${CACHE_DIR}/zsh/zcompdump-${ZSH_VERSION}"
zstyle ':completion:*' cache-path "${CACHE_DIR}/zsh/zcompcache"

# Kafka
if command -v kafka 1>/dev/null 2>&1; then
  source <(kafka completion zsh) && compdef _kafka kafka
fi

# Extensions
# Zoxide
if command -v zoxide 1>/dev/null 2>&1; then
  eval "$(zoxide init zsh)"
fi

# Atuin
if command -v atuin 1>/dev/null 2>&1; then
  eval "$(atuin init zsh)"
fi

# Functions
function term-proxy-on() {
  export HTTP_PROXY='http://{{ .proxy.host }}:{{ .proxy.port }}'
  export HTTPS_PROXY='http://{{ .proxy.host }}:{{ .proxy.port }}'
  export ALL_PROXY='socks5://{{ .proxy.host }}:{{ .proxy.port }}'
  export NO_PROXY='localhost,internal.domain,.local,example.dev,.example.dev,10.0.0.1/8,127.0.0.1/24,192.168.0.1/16'

  export http_proxy="${HTTP_PROXY}"
  export https_proxy="${HTTPS_PROXY}"
  export all_proxy="${ALL_PROXY}"
  export no_proxy="${NO_PROXY}"
}

function term-proxy-off() {
  unset HTTP_PROXY HTTPS_PROXY ALL_PROXY NO_PROXY \
    http_proxy https_proxy all_proxy no_proxy
}

function ipython() {
  nix-shell -p python3Packages.ipython --command "ipython $@"
}

function config-git-user() {
  git config --local user.name "Aaron Jheng"
  git config --local user.email "wentworth@outlook.com"
  git config --local user.signingkey F6A547A869D050A3
}

{{ if eq .chezmoi.os "darwin" -}}
function system-proxy-on() {
  networksetup -setsecurewebproxystate 'Wi-Fi' on
  networksetup -setwebproxystate 'Wi-Fi' on
  networksetup -setsocksfirewallproxystate 'Wi-Fi' on
}

function system-proxy-off() {
  networksetup -setsecurewebproxystate 'Wi-Fi' off
  networksetup -setwebproxystate 'Wi-Fi' off
  networksetup -setsocksfirewallproxystate 'Wi-Fi' off
}

function system-proxy-setup() {
  host="{{ .proxy.host }}"
  port="{{ .proxy.port }}"

  networksetup -setsecurewebproxy 'Wi-Fi' "${host}" "${port}"
  networksetup -setwebproxy 'Wi-Fi' "${host}" "${port}"
  networksetup -setsocksfirewallproxy 'Wi-Fi' "${host}" "${port}"
  networksetup -setproxybypassdomains 'Wi-Fi' 'localhost' 'internal.domain' '*.local' 'example.dev' '*.example.dev' '10.*' '127.0.0.*' '192.168.*'
}

function system-proxy-show() {
  echo "HTTPS Proxy"
  networksetup -getsecurewebproxy 'Wi-Fi'
  echo ""
  echo "HTTP Proxy"
  networksetup -getwebproxy 'Wi-Fi'
  echo ""
  echo "SOCKS Proxy"
  networksetup -getsocksfirewallproxy 'Wi-Fi'
  echo ""
  echo "Proxy Bypass Domains"
  networksetup -getproxybypassdomains 'Wi-Fi'
}

function govm() {
  local serial=`system_profiler SPHardwareDataType | grep "Serial Number (system)" | cut -d ":" -f 2 | xargs`
  ssh -t aarons-work-vm.local "tmux -CC new -A -s workspace-${serial}"
}

function launchctl() {
  case "$1" in
  "reload")
    command launchctl unload "$2" && command launchctl load "$2"
    ;;
  "restart")
    command launchctl stop "$2" && command launchctl start "$2"
    ;;
  *)
    command launchctl "$@"
    ;;
  esac
}

{{ end -}}

{{ if .proxy.enabled -}}
proxy_on

{{ end -}}

# Local configuration
if [ -f ~/.zshrc.local ]; then
  source ~/.zshrc.local
fi
