# Aliases
alias ll='ls -alv'
alias la='ls -A'
alias l='ls -CF'
{{- if eq .chezmoi.os "darwin" }}
alias typora="open -a typora"
alias brew='HTTP_PROXY=http://127.0.0.1:7890 HTTPS_PROXY=http://127.0.0.1:7890 brew'
{{- end }}
alias rustup='HTTP_PROXY=http://127.0.0.1:7890 HTTPS_PROXY=http://127.0.0.1:7890 rustup'

# Paths
BIN_DIRS=(
  $CARGO_HOME/bin
  $GOPATH/bin

{{- if eq .chezmoi.os "darwin"}}
  /nix/var/nix/profiles/default/bin
  $HOME/.nix-profile/bin

{{- end }}
)
for BIN_DIR in ${BIN_DIRS[@]}; do
  if [ -d "$BIN_DIR" ]; then
    PATH="$BIN_DIR:$PATH"
  fi
done

# Functions
function proxyon() {
  export HTTP_PROXY=http://127.0.0.1:7890
  export HTTPS_PROXY=http://127.0.0.1:7890
  export ALL_PROXY=socks5://127.0.0.1:7890
  export http_proxy=http://127.0.0.1:7890
  export https_proxy=http://127.0.0.1:7890
  export all_proxy=socks5://127.0.0.1:7890
}

{{ if eq .chezmoi.os "darwin" -}}
function goworkspace() {
  local serial=`system_profiler -json SPHardwareDataType | yq -r '.SPHardwareDataType[0].serial_number'`
  ssh -t workspace "tmux -CC new -A -s workspace-${serial}"
}

function launchctl() {
  if [[ "$1" == "restart" ]]; then
    command launchctl stop "$2" && command launchctl start "$2"
  else
    command launchctl "$@"
  fi
}

{{ end -}}

disable -r time

# Kafka
if command -v kafka 1>/dev/null 2>&1; then
  source <(kafka completion zsh) && compdef _kafka kafka
fi

# Zoxide
if command -v zoxide 1>/dev/null 2>&1; then
  eval "$(zoxide init zsh)"
fi

# zsh-autosuggestions
if [ -f ~/.nix-profile/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]; then
  source ~/.nix-profile/share/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

# zsh-syntax-highlighting
if [ -f ~/.nix-profile/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
  source ~/.nix-profile/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi
