# Zsh options
setopt INC_APPEND_HISTORY

# Base Directories
CONFIG_DIR=${HOME}/.config
STATE_DIR="${HOME}/.local/state"
CACHE_DIR="${HOME}/.cache"

NIX_STATE_DIR="${HOME}/.local/state/nix"
NIX_PROFILE_DIR="${NIX_STATE_DIR}/profile"

export CARGO_HOME="${CONFIG_DIR}/cargo"
export RUSTUP_HOME="${CONFIG_DIR}/rustup"
export GOPATH="${STATE_DIR}/go"
export GOCACHE="${CACHE_DIR}/go/build"
export GOMODCACHE="${CACHE_DIR}/go/mod"
export GOTOOLCHAIN="local"
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_INSTALL_CLEANUP=1
export HOMEBREW_CASK_OPTS="--no-quarantine"
export HOMEBREW_UPGRADE_GREEDY=1
export NPM_CONFIG_USERCONFIG="${CONFIG_DIR}/npm/npmrc"
export PNPM_HOME="${STATE_DIR}/pnpm"
export REDISCLI_HISTFILE="${STATE_DIR}/redis/history"
export WGETRC="${CONFIG_DIR}/wgetrc"
export ETCDCTL_API=3
export NIXPKGS_ALLOW_INSECURE=1
export NIXPKGS_ALLOW_UNFREE=1
export PYTHONSTARTUP="${CONFIG_DIR}/python/pythonrc"
export MYSQLSH_USER_CONFIG_HOME="${CONFIG_DIR}/mysqlsh"
export KUBECONFIG="${CONFIG_DIR}/kube" 
export KUBECACHEDIR="${CACHE_DIR}/kube"
export PSQL_HISTORY="${STATE_DIR}/postgres/psql_history"
export SQLITE_HISTORY="${STATE_DIR}/sqlite/history"

# Paths
typeset -U PATH path

BIN_DIRS=(
  "${CARGO_HOME}/bin"
  "${GOPATH}/bin"
)
for BIN_DIR in ${BIN_DIRS[@]}; do
  if [ -d "${BIN_DIR}" ]; then
    PATH="${BIN_DIR}:${PATH}"
  fi
done

{{ if eq .chezmoi.os "darwin" -}}
# Nix
if [ -e '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh' ]; then
  . '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh'
fi

# Homebrew
if [ -f /opt/homebrew/bin/brew ]; then
  eval $(/opt/homebrew/bin/brew shellenv)
fi

PATH="/usr/local/bin:${PATH}"
{{ end -}}
