#!/usr/bin/env bash

if command -v clash 1>/dev/null 2>&1; then
{{ if eq .chezmoi.os "darwin" -}}
	launchctl stop org.nixos.clash && sleep 1 && launchctl start org.nixos.clash
{{ else -}}
	echo "Nothing to restart for clash on {{ .chezmoi.os }}."
{{ end -}}
fi

# clash config template digest: {{ include "dot_config/clash/config.yaml.tmpl" | sha256sum }}
# clash config data digest: {{ toJson .clash | sha256sum }}
