mixed-port: 7890
allow-lan: true
bind-address: '*'
log-level: info
mode: rule
proxies:
  - name: {{ .clash.name }}
    type: {{ .clash.type }}
    server: {{ .clash.host }}
    port: {{ .clash.port }}
    password: {{ .clash.password }}
rules:
  - DOMAIN-SUFFIX,gstatic.com,{{ .clash.name }}
  - GEOIP,CN,DIRECT
  - MATCH,{{ .clash.name }}
