mixed-port: 7890
allow-lan: false
bind-address: '*'
log-level: info
mode: rule
ipv6: true
proxies:
  - name: PROXY
    type: {{ .clash.type }}
    server: {{ .clash.host }}
    port: {{ .clash.port }}
    password: {{ .clash.password }}
rules:
  - DOMAIN-SUFFIX,gstatic.com,PROXY
  - IP-CIDR,10.0.0.0/8,DIRECT
  - IP-CIDR,127.0.0.0/8,DIRECT
  - IP-CIDR,172.16.0.0/12,DIRECT
  - IP-CIDR,192.168.0.0/16,DIRECT
  - GEOIP,CN,DIRECT
  - MATCH,PROXY
