{
  "$schema": "https://charm.land/crush.json",
  "models": {
    "large": {
      "model": "deepseek-v4-pro",
      "provider": "hyper"
    },
    "small": {
      "model": "deepseek-v4-flash",
      "provider": "hyper"
    }
  },
  "permissions": {
    "allowed_tools": [
      "agent",
      "agentic_fetch",
      "bash",
      "crush_info",
      "crush_logs",
      "download",
      "edit",
      "fetch",
      "glob",
      "grep",
      "ls",
      "lsp_diagnostics",
      "lsp_references",
      "lsp_restart",
      "multiedit",
      "sourcegraph",
      "todos",
      "view",
      "write"
    ]
  },
  "options": {
    "attribution": {
      "trailer_style": "none",
      "generated_with": false
    },
    "disable_metrics": true,
    "tui": {
      "transparent": true,
      "compact_mode": false
    }
  }
}
